body {
    font-size: 12px;
    width: 50%;
    background-color: #d3d3d3;
    margin: 0 auto;
}

nav {
    background-color: #7d7d7d;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color: #7d7d7d;
    width: 100%;
    margin: 0 auto;
}

div {
    overflow: auto;
}

#logoImage {
    height: 2rem;
}

#mainMenu ul {
    color: #fff;
}

#mainMenu ul > li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
}

#mainMenu ul > li > a {
    color: #fff;
}

#slideShow {
    background-color: #7d7d7d;
    margin: 0 auto;
}

#slideShow img {
    width: 46%;
    display: block;
    margin: 0.5rem;
    float: left;
}

#recommendedLinks {
    background-color: #7d7d7d;
    width: 50%;
}

#recommendedLinks ul > li > a {
    color: #fff;
    font-weight: 600;
}